html
  head
    title transition-end
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 transition-end

  script.
    require("transition-end");
